@model MisPacientes_04.Models.Anamnesis

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Anamnesis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="MotivoConsulta" class="control-label"></label>
                <input asp-for="MotivoConsulta" class="form-control" />
                <span asp-validation-for="MotivoConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnfermedadActual" class="control-label"></label>
                <input asp-for="EnfermedadActual" class="form-control" />
                <span asp-validation-for="EnfermedadActual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacienteRefId" class="control-label"></label>
                <select asp-for="PacienteRefId" class="form-control" asp-items="ViewBag.PacienteRefId"></select>
                <span asp-validation-for="PacienteRefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
